.signUp form {
border: 1px solid black;
max-width: 600px;
margin: auto;
padding: 15px;
box-sizing: border-box; 
text-align: center;
}

.signUp form input {
  display: block;
  width: 100%;
  margin: 5px auto;
  padding: 5px;
  box-sizing: border-box; 

}

.signUp .btn {
display: inline-block;
margin: 15px 0;;
}


.signUp .btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}